<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JEMINO LIS 181 Journal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
  </head>
  <body>
    <div class="ui top fixed menu">
        <a class="item" href="/blogs">JEMINO LIS 181 Journal</a>
      <div class="right menu">
        <a class="item" href="/login"><i class="sign in alternate icon"></i></a>
      </div>
    </div>
