<% include partials/header %>
<form action="/blogs" method="POST">
  <input type="text" name="blog[title]" placeholder="Title">
  <input type="text" name="blog[image]" placeholder="Image URL">
  <input type="text" name="blog[body]" placeholder="Type your blog post here...">
  <input type="submit">
</form>



<% include partials/footer %>
