body {
  background-color: #78281F;
}
#PostBtn {
  position: relative;
  margin: 1% 25%;
  width: 50%;
}
#formDel {
  display: inline;
}

div.main {
  margin-top: 10vh;
}

#homeBtn {
  text-decoration: none;
}
